.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #dbdcef;
    border-right-color: #474bff;
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}